body{
    background-color:bisque;
}

h1{
    font-style: italic;
    text-align: center;
    color:brown;
}

#zero{
    color:red;
}

pre{
    color: blue;
}

#output{
    color:darkmagenta;
}
